<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
  <title>Error</title>
</head>
<body>
  <h1>oh no <%=  login_err %></h1>
  <img src="../../public/image/sad.gif" alt="">
  <a href="/">back 2 home</a>
</body>
</html>