<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
  <title>Cookies part 4 | Members</title>
</head>
<body>
  <br>
  <h1>Welcome </h1>
  <img src="../../public/image/cookie_monster.gif" alt="">
  <h1>awww yes members only</h1>
  <a href="/">Go back to home</a>
  <br>
  <a href="/logout">logout here</a>
</body>
</html>
